:root {
    --link-effect-border-radius: 5px;
    --link-effect-bg-color: black;
    --link-effect-text-color: white;

    --main-title-font-size: 100px;
    --main-title-weight: 700;
    --main-title-color: white;
    --main-title-line-height: 130%;
    --main-title-letter-spacing: 30px;

    --second-title-font-size: 40px;
    --second-title-font-weight: 700;
    --second-title-color: black;
    --second-title-line-height: 100%;

    --third-title-font-size: 22px;
    --third-title-font-weight: 700;
    --third-title-color: white;
    --third-title-line-height: 120%;

    --lots-list-link-scale: scale(1.02);

    --lots-card-descr-color: white;

    --about-descr-color: black;

    --footer-font-size: 18px;

    --socials-list-gap: 48px;
}